@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--very-dark-blue-1: hsl(217, 54%, 11%);
--very-dark-blue-2: hsl(216, 50%, 16%);
--very-dark-blue-3: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}


body{
    display: grid;
    grid-template-columns:1fr 2fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    ". . ."
    ". container ."
    ". . ."

    ;
    font-family:'Outfit',sans-serif ;
    font-size: 18px;
    background-color: var(--very-dark-blue-1);
}
.container{
    grid-area: container;
    padding: 25px;
    background-color: var(--very-dark-blue-2);
        display:grid;
        grid-template-columns:auto;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-areas: 
    "nft"
    "hero"
    "text"
    "data"
    "divider"
    "avatar"
    ;
    border-radius: 10px;

}
s
.container .nft img:hover {
    cursor: pointer;
    color: var(--cyan);
    transition:0.1s ;
    background: #fff;
}


.container .hero h2{
    grid-area:hero;
    display: grid;
    justify-content: left;
    color: #fff;
}

.container .hero h2:hover{
    cursor: pointer;
    color: var(--cyan);
    transition:0.1s ;
}
.container .hero p{
    grid-area:text;
    display: flex;
    
    color:var(--soft-blue)
}

.data {
    grid-area: data;
    display: flex;
    justify-content: space-between;
}
.ether {
    display: flex;
    margin-right: auto;
    justify-items: space-between;
}
.ether img {
    max-width: 20px;
    margin: auto;
}
.ether p{
    margin-left: 8px;
}
.data p {
    color: var(--cyan);
}
.clock{
    
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.clock img{
    max-width: 50px;
    margin: auto;
}
.clock p{
    color: var(--soft-blue);
    margin-left: 5px;
}
.divider{
    grid-area: divider;
    border-top: 1px solid var(--very-dark-blue-3);

}
.avatar{
  grid-area: avatar;
  display: flex;
  flex-direction: row;  
}
.avatar img{
   max-width: 10%;
   margin: 10px;
   margin-right: 10px;
   border: 1px solid #fff;
   border-radius: 50%;
   
}
.avatar .text-white{
    margin-left: 5px;
    color: #fff;
}
.avatar .text-white:hover{
   cursor:pointer;
   color: var(--cyan);
    transition:0.1s ;
}




.attribution
     { 
    font-size: 11px;
    text-align: center; 
    }

    .attribution a 
    { 
    color: hsl(228, 45%, 44%);
    }
  